= table.row :parent, as: :association, url: { id: table.model.parent }
= table.row :name
= table.row :description, as: :text, syntax: table.model.markup_language
= table.row :created_at
= table.row :updated_at
